* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  cursor: default;
}

header {
  display: grid;
  grid-template-columns: 8.3125rem auto;
  padding: 1rem 0;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

header img {
  height: 50px;
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

header nav a {
  text-decoration: none;
  color: #393939;
  font-weight: 800;
  font-size: 1.2rem;
}

header nav a:hover {
  cursor: pointer;
  color: #009ABF;
}

.ham-btn {
  display: none;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  .ham-btn {
    display: grid;
    width: 2.5rem;
    height: 2.5rem;
    color: #393939;
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    line-height: 2.5rem;
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 1rem;
  }

  .ham-btn:hover {
    cursor: pointer;
    color: #009ABF;
  }

  .ham-btn::after {
    content: "\2630";
  }

  .ham-btn.show::after {
    content: "\2715";
  }

  header nav.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.6875rem;
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 0;
    align-items: flex-start;
  }

  header nav.show a {
    padding: 0.5rem 1rem;
    text-align: left;
  }

  header img {
    margin-left: 1rem;
  }
}

main {
  max-width: 70rem;
  margin: 0 auto;
}

.hero {
  background-color: #00a1b6;
  text-align: center;
  padding: 5rem 2rem;
}

.hero h1 {
  color: #ffffff;
  font-size: 3rem;
  padding: 1rem 0;
}

.hero p {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.hero button {
  background-color: #ffffff;
  color: #393939;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 2rem 0;
}

.hero button:hover {
  background-color: #00a1b6;
  color: #ffffff;
  transition: background-color 0.3s;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem 0;
}

.section {
  margin: 0;
  padding: 2rem 2rem;
  background-color: #393939;
}

.section h2 {
  font-size: 2rem;
  margin: 1rem;
  color: #ffffff;
}

.section p {
  font-size: 1.2rem;
  color: #333333;
  background-color: #00a1b6;
  padding: 2rem;
  color: #ffffff;
}

.section button {
  background-color: #00a1b6;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.section button:hover {
  background-color: #393939;
  transition: background-color 0.3s;
}

.section blockquote {
  color: #ffffff;
  padding: 1rem;
  border-left: 5px solid #00a1b6;
  margin: 1rem 0;
  font-style: italic;
  font-size: 3rem;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #00a1b6;
  color: #ffffff;
}

footer p {
  margin: 0;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.one {
  font-size: 1.2rem;
  color: #ffffff;
  padding-bottom: 1rem;
  line-height: 2rem;
}

::-webkit-scrollbar {
  display: none;
}